<div id='forums_container'>
  <h1 id='forums_title'><%= t('.title') %></h1>
  <div class= "row">
    <div class= "span8">
      <div class= "show-grid">
        <%= link_to t('forem.topic.links.new'), main_app.new_iqanda_path, :class => 'btn btn-success btn-small' %>
      </div>
      <%= render @categories %>
    <div class= "span4">
    </div>
    </div>
  </div>
</div>

<br>
<footer id='admin_link'>
  <% if forem_admin? %>
    <%= link_to t("area", :scope => "forem.admin"), forem.admin_root_path %>
  <% end %>
</footer>
